<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Isabelle_Specware</string>
	<key>CFBundleExecutable</key>
	<string>Isabelle_Specware</string>
	<key>CFBundleGetInfoString</key>
	<string>Isabelle_Specware 4.2.5 Copyright 2008 Kestrel Institute</string>
	<key>CFBundleIconFile</key>
	<string>appIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.specware.Isabelle_Specware</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Isabelle_Specware</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.2.5</string>
	<key>CFBundleSignature</key>
	<string>SPWR</string>
	<key>LSEnvironment</key>
	<dict>
		<key>APP_BUNDLER</key>
		<string>Platypus-4.0</string>
	</dict>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.4</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Isabelle_Specware 4.2.5 Copyright 2008 Kestrel Institute</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
